/gradlew.bat
/gradlew
/.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/gradle.properties
/ResolveInfoAsyncLoaderLib/build
/sample/build
/gradle
*.iml
.DS_Store
/build
/captures
